#main-header {
    font-size: 45px;
    text-align: center;
    padding: 20px;
    color: crimson;
    background-color: black;
    opacity: 50%;
    margin: 10px;
}

td {
    
    padding: 5px;
}

.grade-entry-label {
    font-weight: bold;
}

.read-out .label{
    font-weight: bold;
}

#options {
    border-style: solid;
    border-color: crimson;
    max-width: 450px;
    padding: 10px 20px 20px 20px;
    margin-bottom: 30px;
}

#total-points {
    width: 50px;
}

#even-weight-button {
    margin-right: 20px;
    margin-left: 43px;
}

#options-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
}

table#grade-categories {
    margin-bottom: 25px;
}